@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: #333333;
  background-color: #f2f2f2;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 #00000033;
}

.main-container {
  flex-grow: 1;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
  margin: 0 70px;
}

.navigation {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.navigation-list {
  width: 455px;
}

.navigation-link {
  padding: 0;
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.favorites-counter {
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  text-align: center;
  background-color: #7db54f;
}

.button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #756157;
}

.hero {
  color: #333333;
  background-color: #3d928e;
  background-image: url("../images/hero-background.jpg");
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
}

.hero-image {
  display: block;
  margin: 0 auto;
}

.advantages-heading {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.advantages-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages-list {
  text-align: center;
}

.advantages-item-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.advantages-item:nth-child(1) {
  background-color: #82b3d3;
}

.advantages-item:nth-child(1) h3 {
  color: #ffffff;
}

.advantages-item:nth-child(1) p {
  color: #ffffff;
}

.advantages-item:nth-child(2) {
  background-color: #83b3d31f;
}

.advantages-item:nth-child(3) {
  background-color: #83b3d333;
}

.advantages-item:nth-child(4) {
  background-color: #83b3d31f;
}

.advantages-item:nth-child(5) {
  background-color: #82b3d3;
}

.advantages-item:nth-child(5) h3 {
  color: #ffffff;
}

.advantages-item:nth-child(5) p {
  color: #ffffff;
}

.services-heading {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.services-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.services-list {
  text-align: center;
}

.services-item {
  background-color: #83b3d31f;
}

.services-item:nth-child(2n) {
  background-color: transparent;
}

.services-item-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.search-heading {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.search-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.button-search {
  width: 376px;
  display: block;
  margin: 0 auto;
}

.subscribe {
  background-color: #3d928e;
  background-image: url("../images/subscribe-background.jpg");
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
}

.subscribe-heading {
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.subscribe-text {
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  text-align: center;
}

.subscribe-input {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #f2f2f2;
}

.button-subscribe {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background-color: #82b3d3;
}

.page-footer {
  margin: 0 70px;
  color: #000000;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social-list {
  margin: 0;
  padding: 0;
}

.social-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #83b3d3;
  text-decoration: none;
}

.telephone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.page-footer-logo {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.sorting-container {
  padding-left: 70px;
  background-color: #3d928e;
  background-image: url("../images/filter-background.jpg");
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
}

.hotels-filter-form {
  display: flex;
}

.header-inner-title {
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.hotels-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: capitalize;
}

.filter-hotels-item .control {
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

.cost-input {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  background-color: #f2f2f2;
}

.button-catalog-sumbit {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #82b3d3;
}

.button-catalog-reset {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  background-color: transparent;
}

.catalog {
  padding-left: 70px;
}

.catalog-title {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.catalog-select {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #e5e5e5;
}

.view-toggle-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.catalog-link {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.link-to-details {
  font-size: 16px;
  line-height: 20px;
}

.button-to-favorites {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: #82b3d3;
}

.catalog-button-selected {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: #7db54f;
}

.raiting {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
}

.pagination-link-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-text {
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.subscribe-inner {
  background-image: none;
  background-color: transparent;
}

.subscribe-inner-heading {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.subscribe-inner-text {
  font-size: 22px;
  line-height: 26px;
}
